<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey Form</title>
  </head>
  <body>
    <h1>Submitted Information</h1>
    <p>Name: <%= user.name %></p>
    <p>Dojo Location: <%= user.location %></p>
    <p>Fave Language: <%= user.language %></p>
    <p>Comment: <%= user.comments %></p>
  </body>
</html>
