<div ng-controller='registerController'>
  <h2>Register</h2>
  <form ng-submit='registerUser()'>
    <p>First name: <input type="text" ng-model='newUser.first'> {{errors.first.message}} </p>
    <p>Last name: <input type="text" ng-model='newUser.last'> {{errors.last.message}} </p>
    <p>Email: <input type="text" ng-model='newUser.email'> {{errors.email.message}}</p>
    <p>Birthday: <input type="date" ng-model='newUser.birthday'> {{errors.birthday.message}}</p>
    <p>Password: <input type="password" ng-model='newUser.password'> {{errors.password.message}}</p>
    <p>Confirm Password: <input type="password" ng-model='newUser.pw_confirm'> {{pw_error}}</p>
    <input type="submit" value="Register">
  </form>
</div>
<div ng-controller='loginController'>
  <h2>Login</h2>
  <form ng-submit='loginUser()'>
    <p>Email: <input type="text" ng-model='user.email'> {{email_error}}</p>
    <p>Password: <input type="password" ng-model='user.password'> {{login_error}}</p>
    <input type="submit" value="Log In">
  </form>
</div>
