<div ng-controller="mainController">
	<div class="products" ng-repeat="product in products | limitTo: 3">
		<p><img src="{{product.image}}" style='width:128px'></p>
		<p>{{product.name}}</p>
		<p>({{product.quantity}} left)</p>
	</div>
	<a href="#!/products">show more...</a>
	<div class="orders">
		<h4>Recent Orders</h4>
		<p>order</p>
		<p>order</p>
		<p>order</p>
		<p>order</p>
		<a href="#!/orders">show all orders...</a>
	</div>
	<div class="customers">
		<h4>New customers</h4>
		<p ng-repeat="customer in customers | limitTo: 3">{{customer.name}} joined the store on {{ customer.createdAt | date: "MMMM d, yyyy" }}</p>
		<a href="#!/customers">show all customers...</a>
	</div>
</div>
