<div ng-controller='ordersController'>
  <form>
    <h3>Add a new order</h3>
    <p>
      Customer
      <select>
        <option ng-repeat="customer in customers">{{customer.name}}</option>
      </select>
    </p>
    <p>
      Order
      <select>
        <option ng-model="product.quantity">{{product.quantity}}</option>
      </select>
      <select>
        <option ng-repeat="product in products">{{product.name}}</option>
      </select>
    </p>
    <input type="submit" value="Order">
  </form>
  <input type="text" placeholder="filter">
  <table>
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
