<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Products and Orders</title>
    <script src='./bower_components/angular/angular.js'></script>
    <script type="text/javascript">
      var app = angular.module('app', []);
      app.factory('productsFactory', function(){
        var products = [];
        var factory = {};

        factory.getProducts = function(callback){
          callback(products);
          console.log('working');
        }

        factory.create = function(data){
          data.quantity = 50;
          products.push(data);
          // get(products);
        }

        factory.delete = function(id, callback){
          products.splice(id, 1);
          // callback(products);
        }
        return factory;
      });

      app.controller('productsController', ['$scope', 'productsFactory', function($scope, productsFactory){
        $scope.products = [];

        productsFactory.getProducts(function(data){
          $scope.products = data;
          $scope.product = {};
        })

        $scope.addProduct = function(){
          productsFactory.create($scope.product);
          $scope.product = {};
        }

        $scope.deleteProduct = function(index){
          productsFactory.delete(index)
        }

      }])
      app.controller('ordersController', ['$scope', 'productsFactory', function($scope, productsFactory){

        $scope.products = [];
        productsFactory.getProducts(function(data){
          $scope.products = data;
          $scope.product = {};
        })
        $scope.buyProduct = function(index){
          if ($scope.products[index].quantity == 1){
            $scope.products[index].quantity = 'SOLD OUT'
          }
          else if ($scope.products[index].quantity > 0){
            $scope.products[index].quantity -= 1
          }
        }
      }])
    </script>
  </head>
  <body>
    <div ng-controller='productsController'>
      <h1>Products Controller</h1>
      <form>
        <p>Name: <input type="text" ng-model='product.name'></p>
        <p>Price: <input type="number" ng-model='product.price'></p>
        <input type="hidden" ng-model='product.quantity' value="50">
        <input type="submit" value="Add product" ng-click='addProduct()'>
      </form>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='p in products | orderBy:"price" track by $index'>
            <td>{{p.name}}</td>
            <td>{{p.price | currency:"USD$":0}}</td>
            <td><button type="button" ng-click='deleteProduct($index)'>Delete Product</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <div ng-controller='ordersController'>
      <h1>Orders Controller</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Qty Available</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='p in products | orderBy:"price" track by $index'>
            <td>{{p.name}}</td>
            <td>{{p.price | currency:"USD$":0}}</td>
            <td>{{p.quantity}}</td>
            <td><button type="button" ng-click='buyProduct($index)'>Buy</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
